html,body {
    height:100%;
    padding-left: 10px;
}
span {
    padding-top: 45%;
    display: inline-block;
    vertical-align: middle;

}
.table {
    display: table;
    height: 600px;
    width: 600px;
    table-layout: fixed;
    position: relative;
}
.row {
    display: table-row;
    height: 33%;
    width: 100%;
}
.cell {
    display: table-cell;
    border: 1px solid;
    height: 33%;
    width: 33%;
}
.card {
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    background-color: cornflowerblue;
    width: 90%;
    height: 90%;
    margin: 5%;
}
.open-card {
    border: 3px solid;
    border-color: aquamarine;
}
.end-message {
    position:absolute;
    text-align: center;
    top: 100px;
    left: 100px;
    width: 400px;
    height: 400px;
    background-color: lemonchiffon;
    border: 1px solid;
}
#search-value-box {
    color: navy;
}
