table,td,tr {
    border: 1px solid;

}
td {
    width: 180px;
    height:180px;
}
#board_tbl {
    width: 600px;
    height: 600px;
}
.card {
    border: 1px solid;
    width: 150px;
    height:150px;
    text-align: center;
    padding-top: 80px;
    font-size: 30px;
    background-color: cornflowerblue;
}
.open-card {

}